<template>
<div class="content-padder content-background">
  <div class="uk-card uk-card-body uk-card-default">
    <div class="uk-container">
      <button class="uk-button uk-button-text uk-margin-bottom uk-margin-top" @click="goBack">
        <span uk-icon="icon: arrow-left"></span>
        Retour
      </button>
      <h1 class="uk-margin-remove-top">Editer l'utilisateur {{ user.firstname }} </h1>
      <form id="add-user-form">
        <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <label class="uk-form-label" for="firstname">Prénom <span class="uk-text-danger">*</span> </label>
            <div class="uk-form-controls">
                <input class="uk-input" id="firstname" type="text" v-model="user.firstname" required>
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="lastname">Nom <span class="uk-text-danger">*</span> </label>
            <div class="uk-form-controls">
            <input class="uk-input" id="lastname" type="text" v-model="user.lastname" required>
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="email">Adresse mail <span class="uk-text-danger">*</span></label>
            <div class="uk-form-controls">
            <input class="uk-input" id="email" type="email" v-model="user.email" required>
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="password">Mot de passe <span class="uk-text-danger">*</span></label>
            <div class="uk-form-controls">
            <input class="uk-input" id="password" type="password" v-model="user.password" required>
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="address">Adresse <span class="uk-text-danger">*</span></label>
            <div class="uk-form-controls">
            <input class="uk-input" id="address" type="text" v-model="user.address" required>
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="tel">Téléphone</label>
            <div class="uk-form-controls">
            <input class="uk-input" id="tel" type="text" v-model="user.tel">
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="genre">Genre</label>
            <div class="uk-form-controls">
            <input class="uk-input" id="genre" type="text" v-model="user.genre">
            </div>
            <span class="uk-text-middle uk-text-danger error-message"></span>
        </div>
        </fieldset>
    </form> 
      <button class="uk-button uk-button-primary" @click="update()">Mettre à jour</button>
    </div>
  </div>
    </div>
</template>

<script>
import UsersService from '@/services/UsersService'

export default {
  data () {
    return {
      user: {}
    }
  },
  methods: {
    async update () {
      await UsersService.update(this.user)
      this.$router.push({
        name: 'index.users'
      })
    },
    goBack () {
        this.$router.go(-1)
    }
  },
  async mounted () {
    const userId = this.$store.state.route.params.userId
    this.user = (await UsersService.show(userId)).data
    console.log(this.user)
  }
}
</script>
