<template>
<div class="content-padder content-background">
  <breadcrumb title="Utilisateurs"
    content="Page des gestion des abonnés de la bibliothèque"
    icon="ion-android-people"></breadcrumb>
  <div class="uk-padding">
    <div class="uk-card uk-card-body uk-card-default">
    <div class="uk-container">
      <a class="uk-button uk-button-default" href="#" onclick="UIkit.modal(document.getElementById('add-user-modal')).show()">Ajouter un Utilisateur</a>
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Tél</th>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.tel }}</td>
            <td>{{ user.genre }}</td>
            <td>
              <router-link class="uk-margin-right" :to="{ name: 'edit.users', params: { userId: user.id }}">Editer</router-link>
              <button class="uk-button uk-button-danger" @click="destroy(user.id)">supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

  <div id="add-user-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">
              Ajouter un nouvel utilisateur
            </h2>
        </div>
        <div class="uk-modal-body">
          <form id="add-user-form">
              <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label class="uk-form-label" for="firstname">Prénom <span class="uk-text-danger">*</span> </label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="firstname" type="text" v-model="user.firstname" required>
                    </div>
                    <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="lastname">Nom <span class="uk-text-danger">*</span> </label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="lastname" type="text" v-model="user.lastname" required>
                  </div>
                  <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="email">Adresse mail <span class="uk-text-danger">*</span></label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="email" type="email" v-model="user.email" required>
                  </div>
                  <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="password">Mot de passe <span class="uk-text-danger">*</span></label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="password" type="password" v-model="user.password" required>
                  </div>
                  <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="address">Adresse <span class="uk-text-danger">*</span></label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="address" type="text" v-model="user.address" required>
                  </div>
                  <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="tel">Téléphone</label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="tel" type="text" v-model="user.tel">
                  </div>
                  <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                  <label class="uk-form-label" for="genre">Genre</label>
                  <div class="uk-form-controls">
                    <input class="uk-input" id="genre" type="text" v-model="user.genre">
                  </div>
                  <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
              </fieldset>
          </form>        
        </div>
        <div class="uk-modal-footer">
            <p class="uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
              <button class="uk-button uk-button-primary uk-margin-left" type="button" @click="store()">Ajouter</button>
          </p>
        </div>

    </div>
  </div>
</div>
</template>

<script>
import shared from '@/shared'
import UsersService from '@/services/UsersService'
import Breadcrumb from '@/components/Breadcrumb.vue'

export default {
  data () {
    return {
      users: null,
      user: {
        firstname: null,
        lastname: null,
        password: null,
        email: null,
        address: null,
        tel: null,
        genre: null,
        isAdmin: false
      },
      validateForm: false
    }
  },
  methods: {
    async store () {
      try {
        const response = await UsersService.store(this.user)
        this.users.push(response.data)
        await this.clearForm()
        await this.clearUserData()
        UIkit.modal(document.getElementById('add-user-modal')).hide()
        console.log(response)
      } catch (error) {
        // this.validateForm = shared.validateForm
        // const isValidationOk = await this.validateForm(document.getElementById('add-user-form'))
      }
    }, 
    clearUserData (){
    	const emptyUser = {
      	user: {
          firstname: null,
          lastname: null,
          password: null,
          email: null,
          address: null,
          tel: null,
          genre: null
        }
      }
      Object.assign(this.$data, emptyUser);
    },
    clearForm () {
      document.getElementById('add-user-form').reset()
    },
    async destroy (userId) {
      await UsersService.destroy(userId)
      this.users = (await UsersService.index()).data
    }
  },
  components: {
      Breadcrumb
  },
  async mounted () {
    this.users = (await UsersService.index()).data
  }
}
</script>

<style scoped>
</style>
