<template>
    <div class="content-padder content-background">
      <breadcrumb title="Mes emprunts"
        content="Voici tous les livres que vous avez actuellement en votre possession"
        icon="ion-ios-bookmarks"></breadcrumb>
        <div class="uk-padding">
            <div class="uk-card uk-card-body uk-card-default">
                <table class="uk-table">
                    <thead>
                        <tr>
                            <th>Titre du livre emprunté</th>
                            <th>Date de l'emprunt</th>
                        </tr>
                    </thead>
                    <tr v-for="loan in loans" :key="loan.id">
                        <td>{{ loan.title }}</td>
                        <td>{{ loan.loanCreation }}</td>
                    </tr>
                </table>
            </div>
        </div>
    
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue'
import LoansService from '@/services/LoanService'

export default {
    data () {
        return {
            loans: null
        }
    },
    components: {
        Breadcrumb
    },
    async mounted () {
        this.loans = (await LoansService.user(this.$store.state.user.id)).data
    }
}
</script>