<template>
    <div class="content-padder content-background" >
      <breadcrumb 
        title="Accueil" 
        content="Re-bonjour, bienvenue sur votre tableau de bord !"
        icon="ion-speedometer"
        ></breadcrumb>
      <div class="uk-padding">
        <div class="uk-card uk-card-body uk-card-default" v-if="!$store.state.user.is_admin">
          <h2>Pour bien démarrer :</h2>
          <p>Commencez par emprunter l'un de nos livres, vous pouvez ensuite consulter vos emprunts dans la rubrique dédiée. </p>
          <p>Pour emprunter un livre cliquez sur les détails du livre puis sur le bouton 'Emprunter'</p>
        </div>
        <div class="uk-card uk-card-body uk-card-default" v-else>
          <h2>Vous êtes administrateur :</h2>
          <p>Cela signifie que vous pouvez gérer les livres, les abonnés, ainsi que le différents emprunts</p>
        </div>
      </div>
    </div>
</template>

<script>
import Breadcrumb from '@/components/Breadcrumb.vue'

export default {
  components: {
    Breadcrumb
  }
}
</script>
