<template>
  <div class="register uk-container uk-padding">
    <div class="uk-card uk-card-body uk-card-default">
    <h1 class="uk-text-center">Inscription</h1>
    <div>
      <div class="uk-margin">
        <input class="uk-input" type="email" name="email" v-model="email" placeholder="Adresse Mail">
      </div>
      <div class="uk-margin">
        <input class="uk-input" type="password" name="password" v-model="password" placeholder="Mot de passe">
      </div>
      <div class="error uk-margin" v-html="error">
      </div>
      <br>
      <button class="uk-button uk-button-primary" @click="register">S'inscrire</button>
    </div>
  </div>
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

export default {
  data () {
    return {
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const response = await AuthenticationService.register({
          email: this.email,
          password: this.password,
          address: 'rue',
          tel: '0123456789',
          isAdmin: false
        })
        this.$store.dispatch('setToken', response.data.token)
        this.$store.dispatch('setUser', response.data.user)
        this.$router.push({
          name: 'home'
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    }
  }
}
</script>

<style scoped>
.error {
  color: red
}
</style>
