<template>
<div class="content-padder content-background">
  <div class="uk-card uk-card-body uk-card-default">
    <div class="uk-container">
      <button class="uk-button uk-button-text uk-margin-bottom uk-margin-top" @click="goBack">
        <span uk-icon="icon: arrow-left"></span>
        Retour
      </button>
      <h1 class="uk-margin-remove-top">Editer le livre {{ book.title }} </h1>
      <form id="edit-book-form">
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
              <label class="uk-form-label" for="title">Titre <span class="uk-text-danger">*</span> </label>
              <div class="uk-form-controls">
                <input class="uk-input" id="title" type="text" v-model="book.title" required>
              </div>
              <span class="uk-text-middle uk-text-danger error-message"></span>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="editeur">Editeur</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="editeur" type="text" v-model="book.editeur">
              </div>
              <span class="uk-text-middle uk-text-danger error-message"></span>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="author">Auteur <span class="uk-text-danger">*</span></label>
              <div class="uk-form-controls">
                <input class="uk-input" id="author" type="text" v-model="book.author" required>
              </div>
              <span class="uk-text-middle uk-text-danger error-message"></span>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="nbpages">Nombre de pages <span class="uk-text-danger">*</span></label>
              <div class="uk-form-controls">
                <input class="uk-input" id="nbpages" type="number" v-model="book.nb_pages" required>
              </div>
              <span class="uk-text-middle uk-text-danger error-message"></span>
          </div>
          <div class="uk-margin">
              <label class="uk-form-label" for="resume">Résumé</label>
              <div class="uk-form-controls">
                  <textarea id="resume" class="uk-textarea" rows="5" placeholder="Résumé..." v-model="book.resume"></textarea>
              </div>
          </div>
        </fieldset>
      </form>
      <button class="uk-button uk-button-primary" @click="update()">Mettre à jour</button>
    </div>
  </div>
</div>
</template>

<script>
import BooksService from '@/services/BooksService'

export default {
  data () {
    return {
      book: {}
    }
  },
  methods: {
    async update () {
      await BooksService.update(this.book)
      console.log('upd')
      this.$router.push({
        name: 'show.books',
        params: {
          bookId: this.book.id
        }
      })
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  async mounted () {
    const bookId = this.$store.state.route.params.bookId
    this.book = (await BooksService.show(bookId)).data
  }
}
</script>

<style lang="stylus" scoped>

</style>