<template>
  <div class="content-padder content-background">
      <breadcrumb title="Tous les livres"
        content="Page des gestion des livres de la bibliothèque"
        icon="ion-ios-book-outline"></breadcrumb>
      <div class="uk-padding">
        <div class="uk-card uk-card-body uk-card-default">
      <a class="uk-button uk-button-default" href="#" onclick="UIkit.modal(document.getElementById('add-book-modal')).show()" v-if="$store.state.user.is_admin">Ajouter un livre</a>
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Editeur</th>
            <th>Nombre de pages</th>
            <th v-if="$store.state.user.is_admin">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books" :key="book.id">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.editeur }}</td>
            <td>{{ book.nb_pages }}</td>
            <td v-if="$store.state.user.is_admin">
              <router-link class="uk-margin-right" :to="{ name: 'show.books', params: { bookId: book.id }}">Voir</router-link>
              <router-link class="uk-margin-right" :to="{ name: 'edit.books', params: { bookId: book.id }}">Editer</router-link>
              <button class="uk-button uk-button-danger" @click="destroy(book.id)">supprimer</button>
            </td>
            <td v-else>
              <router-link class="uk-margin-right" :to="{ name: 'show.books', params: { bookId: book.id }}">Voir</router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>

  <div id="add-book-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">
              Ajouter un nouveau livre
            </h2>
        </div>
        <div class="uk-modal-body">
          <form id="add-book-form">
              <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label class="uk-form-label" for="title">Titre <span class="uk-text-danger">*</span> </label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="title" type="text" v-model="book.title" required>
                    </div>
                    <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="editeur">Editeur</label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="editeur" type="text" v-model="book.editeur">
                    </div>
                    <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="author">Auteur <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="author" type="text" v-model="book.author" required>
                    </div>
                    <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="nbpages">Nombre de pages <span class="uk-text-danger">*</span></label>
                    <div class="uk-form-controls">
                      <input class="uk-input" id="nbpages" type="number" v-model="book.nb_pages" required>
                    </div>
                    <span class="uk-text-middle uk-text-danger error-message"></span>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="resume">Résumé</label>
                    <div class="uk-form-controls">
                        <textarea id="resume" class="uk-textarea" rows="5" placeholder="Résumé..." v-model="book.resume"></textarea>
                    </div>
                </div>
              </fieldset>
          </form>        
        </div>
        <div class="uk-modal-footer">
            <p class="uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Annuler</button>
              <button class="uk-button uk-button-primary uk-margin-left" type="button" @click="store()">Ajouter</button>
          </p>
        </div>

    </div>
  </div>
  </div>
</template>

<script>
import shared from '@/shared'
import BooksService from '@/services/BooksService'
import Breadcrumb from '@/components/Breadcrumb.vue'

export default {
  data () {
    return {
      books: null,
      book: {
        title: null,
        resume: null,
        editeur: null,
        nb_pages: null,
        author: null
      },
      validateForm: false
    }
  },
  components: {
      Breadcrumb
  },
  methods: {
    async store () {
      try {
        const response = await BooksService.store(this.book)
        this.books.push(response.data)
        await this.clearForm()
        await this.clearBookData()
        UIkit.modal(document.getElementById('add-book-modal')).hide();
      } catch (error) {
        this.validateForm = shared.validateForm
        const isValidationOk = await this.validateForm(document.getElementById('add-book-form'))
      }
    }, 
    clearBookData (){
    	const emptyBook = {
      	book: {
          title: null,
          resume: null,
          editeur: null,
          nb_pages: null,
          author: null
        }
      }
      Object.assign(this.$data, emptyBook);
    },
    clearForm () {
      document.getElementById('add-book-form').reset()
    },
    async destroy (bookId) {
      await BooksService.destroy(bookId)
      this.books = (await BooksService.index()).data
    }
  },
  async mounted () {
    this.books = (await BooksService.index()).data
  }
}
</script>

<style scoped>
</style>
