<template>
  <div class="content-padder">
  <div class="uk-padding">
    <button class="uk-button uk-button-text uk-margin-bottom uk-margin-top" @click="goBack">
      <span uk-icon="icon: arrow-left"></span>
      Retour
    </button>
    <article class="uk-article">
      <div>
        <span class="uk-label uk-label-success uk-align-right uk-margin-top" v-if="!isLoan">Disponible</span>
        <span class="uk-label uk-label-warning uk-align-right uk-margin-top" v-if="isLoan">Déjà emprunté</span>
        <h1 class="uk-article-title uk-align-left"><a class="uk-link-reset" href="">Détails du livre {{ book.title }}</a></h1>
      </div>
      <p class="uk-article-meta" style="clear:both">Ecrit par <a href="#">{{ book.author }}</a> et édite par {{ book.editeur }}</p>

      <p class="uk-text-lead">Résumé du livre :<p>
      <p>{{ book.resume }}</p>
      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <button class="uk-button uk-button-primary" @click="loanBook" v-if="!isLoan">Emprunter</button>
          <button class="uk-button uk-button-default" @click="returnBook(loanId)"  v-if="isLoan">Livre rendu ?</button>
        </div>
      </div>

    </article>
  </div>
</div>
</template>

<script>
import BooksService from '@/services/BooksService'
import LoansService from '@/services/LoanService'

export default {
  data () {
    return {
      book: {},
      isLoan: false,
      loanId: null
    }
  },
  methods: {
    async loanBook () {
      try {
        const response = await LoansService.loan({
          UserId: this.$store.state.user.id,
          BookId: this.$store.state.route.params.bookId
        })
        this.isLoan = true
        this.loanId = response.data.id
      } catch (err) {
        console.log(err)
      }
    },
    async returnBook (loanId) {
      try {
        await LoansService.returnBook(this.loanId)
        this.isLoan = false
      } catch (err) {
        console.log(err)
      }
    },
    goBack () {
      this.$router.go(-1)
    }
  },
  async mounted () {
    const bookId = this.$store.state.route.params.bookId
    this.book = (await BooksService.show(bookId)).data
    const loaned = (await LoansService.isLoan({
      userId: this.$store.state.user.id,
      bookId: this.$store.state.route.params.bookId
    })).data
    this.isLoan = !!loaned
    this.loanId = loaned.id
  }
}
</script>

<style lang="stylus" scoped>

</style>
