<template>
<div class="content-padder content-background">
  <breadcrumb title="Emprunts"
        content="Page des gestion des emprunts de la bibliothèque"
        icon="ion-bookmark"></breadcrumb>
  <div class="uk-padding">
    <div class="uk-card uk-card-body uk-card-default">
    <div class="uk-container">
      <table class="uk-table uk-table-striped">
        <thead>
          <tr>
            <th>Titre du livre</th>
            <th>Emprunté par :</th>
            <th>Date d'emprunt</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="loan in loans" :key="loan.id">
            <td>{{ loan.Book.title }}</td>
            <td>{{ loan.User.firstname }} {{ loan.User.lastname }}</td>
            <td>{{ loan.createdAt }}</td>
            <td>
              <button class="uk-button uk-button-primary" @click="returnBook(loan.id)">Livre rendu</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
</template>

<script>
import shared from '@/shared'
import LoansService from '@/services/LoanService'
import Breadcrumb from '@/components/Breadcrumb.vue'

export default {
  data () {
    return {
      loans: null
    }
  },
  components: {
      Breadcrumb
  },
  methods: {
    async returnBook (loanId) {
      try {
        await LoansService.returnBook(loanId)
        this.loans = (await LoansService.index()).data
      } catch (err) {
        console.log(err)
      }
    },
  },
  async mounted () {
    this.loans = (await LoansService.index()).data
  }
}
</script>

<style scoped>
</style>
