<template>
    <div class="uk-section-small uk-section-default header">
      <div class="uk-container uk-container-large">
          <h1><span v-bind:class="icon" class="uk-margin-small-right"></span>{{ title }}</h1>
          <p>{{ content }}</p>
          <ul class="uk-breadcrumb">
              {{ breadcrumbLinks }}
              <!-- <li><a href="index.html">Home</a></li>
              <li><span href="">Dashboard</span></li> -->
          </ul>
      </div>
    </div>
</template>

<script>
export default {
    props: ['title', 'content', 'breadcrumbLinks', 'icon']
}
</script>