<template>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="header uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" href="#"><span class="ion-ios-bookmarks-outline uk-margin-right logo"></span>  NodeJS + VueJS Library</a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav" v-if="$store.state.isUserLoggedIn">
          <li>
              <a href="#" @click="logout()" class="uk-light">
                  <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
                  Déconnexion
              </a>
          </li>
      </ul>
      <ul class="uk-navbar-nav" v-else>
        <li>
            <a href="/login" class="uk-light">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-in"></span>
                Se connecter
            </a>
          </li>
          <li>
            <a href="/register" class="uk-light">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: unlock"></span>
                S'inscrire
            </a>
          </li>
      </ul>
  </div>
</nav>
</div>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$store.dispatch('setToken', null)
      this.$store.dispatch('setUser', null)
      this.$router.push({
        name: 'login'
      })
    }
  }
}
</script>

<style lang="stylus">

</style>
