<template>
<div id="sidebar" class="tm-sidebar-left uk-background-default" v-if="$store.state.isUserLoggedIn">
  <ul class="uk-nav uk-nav-default" v-if="!$store.state.user.is_admin">
      <li class="uk-nav-header">
          Mon espace
      </li>
      <li><a href="/">Profil</a></li>
      <li><a href="/profile/books">Mes emprunts</a></li>
      <li><a href="/books">Parcourir les livres</a></li>
  </ul>
  <ul class="uk-nav uk-nav-default" v-else>
      <li class="uk-nav-header">
          Administration
      </li>
      <li><a href="/books">Gérer les livres</a></li>
      <li><a href="/users">Gérer les abonnés</a></li>
      <li><a href="/loans">Gérer les emprunts</a></li>
  </ul>
</div>
</template>

<script>
export default {
  
}
</script>

<style scoped>

</style>
